{% extends 'EuroLiteriestructureBundle:Main:layout.html.twig' %}
{%block body%}
<div class="row">
    <div class="small-12 columns">
        <h2 class="main-titre">Bienvenue sur le site d'Euro Literie<h2>
    </div>
</div>

<div class="row">
    <div class="articles small-7 columns">
        {%for article in articles%}
            <article class="article">
                <input type="hidden" name="id" value="{{article.id}}"/>
                <article class="art-titre"><h1>{{article.artTitle}}</h1></article>
                <section class="art-content">{{article.artContent | raw }}</section>
            </article>
        {%endfor%}
    </div>
    <div class="small-5 columns">
        <div class="slide slider-wrapper futurico-theme">
            <div id="slider" class="nivoSlider">
                <img src="{{ asset('bundles/EuroLiteriestructure/images/nue1.png')}}" alt="">
                <img src="{{ asset('bundles/EuroLiteriestructure/images/nue2.png')}}" alt="">
                <img src="{{ asset('bundles/EuroLiteriestructure/images/literie1.jpg')}}" alt="">
                <img src="{{ asset('bundles/EuroLiteriestructure/images/literie2.jpg')}}" alt="">
            </div>
        </div>
    </div>
    <div class="promotions small-5 columns">
        <div id="border">
            <article class="promotion">
                {%if actuel != false and actuel|length > 1 %}
                    <article class="promo-titre"><h2>Promotions du moment</h2></article>
                {%else%}
                    <article class="promo-titre"><h2>Promotion du moment</h2></article>
                {%endif%}
                {%if actuel != false%}
                    {%for promotion in actuel%}
                        <article class="promo-date"><h2>Du {{promotion.dateDebut}} au {{promotion.dateFin}}</h2></article>
                        <section class="promo-content"><p>{{promotion.PromoDesc | raw}}</p>
                        </section>
                        <a class="a-promotion" ref=#>Plus d'infos ...</a>
                    {%endfor%}
                {%else%}
                    <article class="promo-date"><h2>Aucune promotions en cours</h2></article>
                {%endif%}
            </article> 
            <article class="promotion">
                {%if avenir != false and avenir|length > 1 %}
                    <article class="promo-titre"><h2>Promotions à venir</h2></article>
                {%else%}
                    <article class="promo-titre"><h2>Promotion à venir</h2></article>
                {%endif%}
                {%if avenir != false%}
                    {%for promotion in avenir%}
                        <article class="promo-date"><h2>Du {{promotion.dateDebut}} au {{promotion.dateFin}}</h2></article>
                        <section class="promo-content">
                        <p>{{promotion.PromoDesc | raw}}</p>
                        </section>
                        <a class="a-promotion" ref=#>Plus d'infos ...</a>
                    {%endfor%}
                {%else%}
                    <article class="promo-date"><h2>Aucune promotion à venir</h2></article>
                {%endif%}
            </article> 
        </div>
    </div>
</div>
{%endblock%}
