
<!DOCTYPE html>

<html>
<head>
<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <title>Euro Literie Aquitaine</title>
    <link rel="stylesheet" href="{{asset('bundles/EuroLiteriestructure/css/foundation.min.css')}}">
    <link rel="stylesheet" href="{{asset('bundles/EuroLiteriestructure/css/normalize.css')}}">
    <link rel="stylesheet" href="{{asset('bundles/EuroLiteriestructure/css/postAccueil.css')}}">
</head>
<body>
<div class="row">
    <div class="large-12 columns" id="annonce"><div class="pa">Un bon conseil vaut mieux qu'un bon prix!</div></div>
    <div class="large-12 columns" id="annonceSecond"><div class="po">Les deux sont ici !!</div></div>
    <div class="large-12 columns" id="logoAccueil"><figure><a href="{{path('literie_accueil')}}"><img src="{{asset('bundles/EuroLiteriestructure/images/logo.png')}}"></img></a></figure></div>
</div>
</body>
</html>
