

<!DOCTYPE html>
<!--[if IE 8]> 				 <html class="no-js lt-ie9" lang="fr" > <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="fr" > <!--<![endif]-->

<head>
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <title>Euro Literie Aquitaine</title>
    {%if keywords is defined%}
        <meta name="keywords" content="{{ keywords }}"/>
    {%endif%}

    <link rel="stylesheet" type="text/css" href="{{asset('bundles/euroliteriestructure/css/foundation.min.css')}}">
    <link rel="stylesheet" type="text/css" href="{{asset('bundles/euroliteriestructure/css/nivo-slider.css')}}">
    <link rel="stylesheet" type="text/css" href="{{asset('bundles/euroliteriestructure/css/normalize.css')}}">
    <link rel="stylesheet" type="text/css" href="{{asset('bundles/euroliteriestructure/css/euroliterie.css')}}">
    <link rel="stylesheet" type="text/css" href="{{asset('bundles/euroliteriestructure/css/monToolbar.css')}}">
    <link rel="stylesheet" href="{{ asset('bundles/yomaah/css/fontawesome/css/font-awesome.css') }}" />
    <link rel="stylesheet" href="{{ asset('bundles/yomaah/css/jquery-ui-1.10.4.custom.min.css') }}" />
    {#<link href='http://fonts.googleapis.com/css?family=Istok+Web' rel='stylesheet' type='text/css'>#}
    <script src="{{ asset('bundles/euroliteriestructure/js/jquery-2.0.3.min.js')}}"></script>
    <script src="{{ asset('bundles/euroliteriestructure/js/jquery-ready.js')}}"></script>
    <script src="{{asset('bundles/yomaah/js/jquery-ui-1.10.4.custom.min.js')}}"></script>
    <script src="{{ asset('bundles/euroliteriestructure/js/jquery.nivo.slider.js')}}"></script>
    {%if connectClient is defined and connectClient%}
        <script type="text/javascript" src="{{asset('bundles/yomaah/js/monHallo.js')}}"></script>
        <script src="{{asset('bundles/yomaah/js/rangy-core.js')}}"></script>
        <script src="{{asset('bundles/yomaah/js/hallo.js')}}"></script>

        <link rel="stylesheet" href="{{ asset('bundles/yomaah/css/bootstrap.icons.css') }}" />
        <link rel="stylesheet" href="{{ asset('bundles/yomaah/css/jquery.toolbars.css') }}" />
        {#<link rel="stylesheet" href="{{ asset('bundles/EuroLiteriestructure/css/monToolbar.css') }}" />#}
        <link rel="stylesheet" href="{{ asset('bundles/yomaah/css/adminInterface.css') }}" />
        <script type="text/javascript" src="{{asset('bundles/yomaah/js/jquery.toolbar.js')}}"></script>
    {%endif%}
</head>
<html>
<body>
    {%if connectClient is defined and connectClient%}
        {% include 'EuroLiteriestructureBundle:Main:barAdmin.html.twig' %}
    {%endif%}
    {%if app.session.get('mobile') %}
        {% include 'EuroLiteriestructureBundle:Main:menuMobile.html.twig' %}
    {%else%}
        {#<link rel="stylesheet" href="{{ asset('bundles/yomaah/css/main-bar.css') }}" />#}
        {#{% include 'yomaahBundle:Main:main-bar1.html.twig'%}#}
        {% include 'EuroLiteriestructureBundle:Main:menu.html.twig' %}
    {%endif%}
    <div class="row">
        <div id="div-pos" class="border-radius">
            <h5 id="position">{{position}}</h5>
        </div>
    </div>
    <div class="row">
        <div id="corps-border" class="border-radius small-12 columns">
            <div id="corps">
                <div class="row">
                    <div class="small-12 columns">
                        <div class="bandeau-pub">
                            <figure><img src="{{ asset('bundles/euroliteriestructure/images/page_cetelem.jpg')}}" /></figure>
                            <figure><img src="{{ asset('bundles/euroliteriestructure/images/logo-livraison.png')}}" /></figure>
                        </div>
                    </div>
    {%block body%}
    {%endblock%}
        {%if hide is defined and hide%}
        </div>
        {%else%}
                <div class="">
                {#<div class="small-5 columns">#}
                    <div id="border">
                        <div class="slide slider-wrapper futurico-theme">
                            <div id="slider" class="nivoSlider">
                                {%for file in slider%}
                                    <img src="{{ asset('bundles/euroliteriestructure/images/slider/active/'~file)}}" alt=""/>
                                {%endfor%}
                            </div>
                        </div>
                        <div class="promotions">
                            <article class="promotion">
                                {%if actuel != false and actuel|length > 1 %}
                                    <article class="promo-titre"><h2>Promotions du moment</h2></article>
                                {%else%}
                                    <article class="promo-titre"><h2>Promotion du moment</h2></article>
                                {%endif%}
                                    <section class="promo-background">
                                {%if actuel != false%}
                                    {%for promotion in actuel%}
                                        <input type="hidden" value="{{promotion.id}}" />
                                        <article class="promo-date"><h2>Du {{promotion.dateDebut}} au {{promotion.dateFin}}</h2></article>
                                        <section class="promo-content"><p>{{promotion.PromoDesc | raw}}</p>
                                        </section>
                                        {%if app.session.get('mobile') == false%}
                                            <a id="a-promotion" ref=#>Plus d'infos ...</a>
                                            <script type="text/javascript">
                                                document.getElementById('a-promotion').onclick =function(){
                                                 openWindow(this,'ajax/adminContentStructure', '500', '300');
                                                }
                                            </script>
                                        {%endif%}
                                    {%endfor%}
                                {%else%}
                                    <article class="promo-date"><h2>Aucune promotions en cours</h2></article>
                                {%endif%}
                                    </section>
                            </article> 
                        </div>
                    </div>
                </div>
            {#Fermeture div de l'ouverture class="row dans le template include"#}
            </div>
            {%endif%}
            </div>
        </div>
    </div>
    <div id ="footer" class="row">
        <footer>
            {#<div class="small-12 columns">#}
                {#<a id="clic" href=#>lien</a>#}
            {#</div>#}
        </footer>
    </div>
    {% if app.session.get('mobile') == false %}
        <div id="back-top">
            <a href="#top"><span></span></a>
        </div>
    {%endif%}
    {%if connectClient is defined and connectClient%}
        {% include 'yomaahBundle:Toolbar:toolbar.html.twig' %}
        {% include 'yomaahBundle:Toolbar:addArticleToolBar.html.twig' %}
        {#<script type="text/javascript" src="{{asset('bundles/yomaah/js/monHallo.js')}}"></script>#}
        {#<script src="{{asset('bundles/yomaah/js/rangy-core.js')}}"></script>#}
        {#<script src="{{asset('bundles/yomaah/js/hallo.js')}}"></script>#}

        {#<link rel="stylesheet" href="{{ asset('bundles/yomaah/css/bootstrap.icons.css') }}" />#}
        {#<link rel="stylesheet" href="{{ asset('bundles/yomaah/css/jquery.toolbars.css') }}" />#}
        {#[><link rel="stylesheet" href="{{ asset('bundles/EuroLiteriestructure/css/monToolbar.css') }}" /><]#}
        {#<link rel="stylesheet" href="{{ asset('bundles/yomaah/css/adminInterface.css') }}" />#}
        {#<script type="text/javascript" src="{{asset('bundles/yomaah/js/jquery.toolbar.js')}}"></script>#}
        <script>setAdminToolbar()</script>
    {%endif%}
</body>
</html>
