{% extends 'EuroLiteriestructureBundle:Main:layout.html.twig' %}
{%block body%}
    <div class="articles ">
            <article id="equipe" class="article">
                <article class="art-titre not-editable"><h1>L'équipe</h1></article>
                <article class="triangle-top"></article>
                <article class="triangle-bot"></article>
                <section class="art-content not-editable">
                {%for article in articles if article.tagName == 'equipe'%}
                    <input type="hidden" name="id" value="{{article.id}}"/>
                    <article class="art-sstitre"><h2>{{ article.artTitle}}</h2></article>
                    <figure><img src="{{asset('bundles/euroliteriestructure/images/castor.jpg')}}" /></figure>
                    <article class="art-sscontent">{{ article.artContent | raw}}</article>
                {%endfor%}
                </section>
            </article>
            {%for article in articles if article.tagName == 'magasin'%}
                <article id="magasin" class="article">
                    <input type="hidden" name="id" value="{{article.id}}"/>
                    <article class="art-titre"><h1>{{article.artTitle}}</h1></article>
                    <article class="triangle-top"></article>
                    <article class="triangle-bot"></article>
                    <section class="art-content">{{article.artContent | raw}}
                    </section>
                        <article class="galerie-photo">
                        {%for image in images%}
                            <figure><img src="{{ asset('bundles/euroliteriestructure/images/galerie/'~image)}}" /></figure>
                        {%endfor%}
                        </article>
                </article>
            {%endfor%}
    </div>
{%endblock%}
