{% extends 'EuroLiteriestructureBundle:Main:layout.html.twig' %}
{%block body%}
    <div class="articles">
        {%for article in articles%}
            <article class="article" itemscope itemtype="http://www.data-vocabulary.org/Article">
                <input type="hidden" name="id" value="{{article.id}}"/>
                <article class="art-titre" itemprop="name"><h1>{{article.artTitle}}</h1></article>
                <article class="triangle-top"></article>
                <article class="triangle-bot"></article>
                <article class="art-content" itemprop="articleBody">{{article.artContent | raw }}</article>
        {%endfor%}
                <div class="marques">
                    <div class="marque vertical">
                        {%for marque in marques%}
                        <section id="{{marque.NomMarque}}" itemscope itemtype="http://www.data-vocabulary.org/Article">
                                <h3><a href="#{{marque.NomMarque}}" itemprop="name">{{marque.nomMarque}}</a></h3>
                            <article>
                                <figure class="marque-img">
                                    <img itemprop="image" src="{{asset('bundles/euroliteriestructure/images/marques/'~marque.pngUrl)}}"/>
                                </figure>
                                <section class="content">
                                    <article class="marque-content" itemprop="articleBody">
                                        <p>{{marque.content | raw}}</p>
                                    </article>
                                    <article class="marque-link">
                                        <a href="http://{{marque.marqueLien}}" itemprop="url">{{marque.marqueLien}}</a>
                                    </article>
                                </section>
                            </article>
                        </section>
                        {%endfor%}
                    </div>
                </div>
            </article>
    </div>
<script>
$('html,body').animate({ scrollTop : $('#logo').offset().top}, 'slow');
</script>
{%endblock%}
