{% extends 'EuroLiteriestructureBundle:Main:layout.html.twig' %}
{%block body%}
    <div class="articles small-7 columns">
        {%for article in articles%}
            <article class="article">
                <input type="hidden" name="id" value="{{article.id}}"/>
                <article class="art-titre"><h1>{{article.artTitle}}</h1></article>
                <article class="triangle-top"></article>
                <article class="triangle-bot"></article>
                <article class="art-content">{{article.artContent | raw }}</article>
        {%endfor%}
                <div class="marques">
                    <div class="marque vertical">
                        {%for marque in marques%}
                        <section id="{{marque.NomMarque}}">
                                <h3><a href="#{{marque.NomMarque}}">{{marque.nomMarque}}</a></h3>
                            <article>
                                <figure class="marque-img"><img src="{{asset('bundles/euroliteriestructure/images/marques/'~marque.pngUrl)}}"></img></figure>
                                <section class="content">
                                    <article class="marque-content">
                                        <p>{{marque.content | raw}}</p></article>
                                    <article class="marque-link">
                                        <a href="http://{{marque.marqueLien}}">{{marque.marqueLien}}</a></article>
                                </section>
                            </article>
                        </section>
                        {%endfor%}
                    </div>
                </div>
            </article>
    </div>
<script>
$('html,body').animate({ scrollTop : $('#logo').offset().top}, 'slow');
</script>
{%endblock%}
