<div id="banniere">
    <div class="row">
        <div class="small-12 columns">
            <figure class="border-radius-perso" id="logo">
                <a href="{{path('literie_accueil')}}"><img src="{{ asset('bundles/euroliteriestructure/images/logo.png')}}"/></a>
            </figure>
            <section>Le site d'Euro Literie à Mont de Marsan</section>
        </div>  
    </div>
</div>
<div class="row">
        <ul class="literie-menu" id="menu-left-literie">
            {%if menusClient is defined%}
                {%for menu in menusClient%}
                    {%if  menu.path == 'literie_marques'%}
                        <li><a href="{{path(menu.path)}}#Epeda">{{ menu.name }}</a>
                    {%else%}
                        <li><a href="{{path(menu.path)}}">{{ menu.name }}</a>
                    {%endif%}
                    {%if menu.sousMenu is defined%}
                        <ul>
                        {%for ss in menu.sousMenu%}
                        <li><a href="{{ path(menu.path)}}#{{ss.path}}" onClick="scroll({{ss.path}})">{{ ss.name}}</a></li>
                        {%endfor%}
                        </ul></li>
                    {%else%}
                        </li>
                    {%endif%}
                {%endfor%}
            {%endif%}
            {#<li><a href="{{path('admin_literie')}}">Admin</a></li>#}
            {#<li><a href="{{path('decoadmin_literie')}}">DecoAdmin</a></li>#}
            {%if (connectClient is defined and connectClient)%}
                    <li><a href="{{path('logout')}}"><span class="right">Se Déconnecter</span></a></li>
            {%endif%}
        </ul>
        <ul class="social-menu">
            <li>
                <figure class="facebook">
                    <a href="https://www.facebook.com/euroliterie.mdm" alt="https://www.facebook.com/euroliterie.mdm"><img src="{{ asset('bundles/euroliteriestructure/images/facebook.png')}}" /></a>
                </figure>
            </li>
            <li>
                <figure class="google-plus">
                    <a href="https://plus.google.com/107001721290796009964/about" alt="https://plus.google.com/107001721290796009964/about"><img src="{{ asset('bundles/euroliteriestructure/images/google-plus.png')}}" /></a>
                </figure>
            </li>
        </ul>
</div>

