<div class="row">
    <div class="small-12 columns">
        <div id="lol">
            <figure class="left" id="logo"><a href="{{path('literie_accueil')}}"><img src="{{ asset('bundles/euroliteriestructure/images/logo.png')}}"/></a></figure>
        </div>
    </div>
</div>
<div class="row">
    <div class="small-12 columns">
        <ul class="literie-menu" id="menu-left-literie">
            {%if menusClient is defined%}
                {%for menu in menusClient%}
                    {%if  menu.path == 'literie_marques'%}
                        <li><a href="{{path(menu.path)}}#Epeda">{{ menu.name }}</a>
                    {%else%}
                        <li><a href="{{path(menu.path)}}">{{ menu.name }}</a>
                    {%endif%}
                    {%if menu.sousMenu is defined%}
                        <ul>
                        {%for ss in menu.sousMenu%}
                        <li><a href="{{ path(menu.path)}}#{{ss.path}}" onClick="scroll({{ss.path}})">{{ ss.name}}</a></li>
                        {%endfor%}
                        </ul></li>
                    {%else%}
                        </li>
                    {%endif%}
                {%endfor%}
            {%endif%}
            <li><a href="{{path('admin_literie')}}">Admin</a></li>
            <li><a href="{{path('decoadmin_literie')}}">DecoAdmin</a></li>
            {#{%if (connectClient is defined and connectClient)%}#}
                    {#<li><a href="{{path('post_log')}}"><span class="right">Se Déconnecter</span></a></li>#}
            {#{%endif%}#}
        </ul>
        

    </div>  
</div>

